### Heroes Of Pymoli Data Analysis
* Of the 780 purchases, most of them were made by male players (83.5%). Female purchases represented 14.5% of the total purchases.

* Our peak age demographic falls between 20-24 with 46.8% of the Total Purchase Value. 

* The most popular product is item ID 178 (Oathbreaker, Last Hope of the Breaking Storm) by Purchases count and Total Purchase Value.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
Total_of_players = len(purchase_data["SN"].value_counts())
Total_players_df = pd.DataFrame({"Total players" : [Total_of_players]})
Total_players_df

   Total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len(purchase_data["Item ID"].value_counts())
unique_items

183

In [4]:
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [5]:
total_purchases = purchase_data["Purchase ID"].count()
total_purchases

780

In [6]:
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [7]:
Summary_table_totals = pd.DataFrame({"Number of Unique Items": [unique_items],
                              "Average Price": [average_price],
                              "Number of Purchases": [total_purchases],
                              "Total Revenue": [total_revenue]})


Summary_table_totals["Average Price"] = Summary_table_totals["Average Price"].map("${:.2f}".format)
Summary_table_totals["Total Revenue"] = Summary_table_totals["Total Revenue"].map("${:,.2f}".format)
Summary_table_totals.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
Gender = purchase_data["Gender"].value_counts()
Gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [9]:
Gender_df = pd.DataFrame(Gender)
Gender_df

                       Gender
Male                      652
Female                    113
Other / Non-Disclosed      15

In [10]:
Male_count = Gender_df.iloc[0,0]
Female_count = Gender_df.iloc[1,0]
Other_count = Gender_df.iloc[2,0]

In [11]:
Male_percentage = round((Male_count / Total_of_players)*100,2)
Female_percentage = round((Female_count / Total_of_players)*100,2)
Other_percentage = round((Other_count / Total_of_players)*100,2)

In [12]:
Gender_summary = pd.DataFrame({"Percentage of Players":[Male_percentage, Female_percentage, 
                                                        Other_percentage],
                               "Total Count": [Male_count, Female_count, Other_count]},
                               index = ["Male", "Female", "Other / Non-Disclosed"])

Gender_summary.head()

                       Percentage of Players  Total Count
Male                                  113.19          652
Female                                 19.62          113
Other / Non-Disclosed                   2.60           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
Gender_groups = purchase_data.groupby(['Gender'])
Gender_Purchase_count = Gender_groups["Purchase ID"].count()
Gender_Purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [14]:
Gender_Average_Price = Gender_groups["Price"].mean()
Gender_Average_Price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [15]:
Gender_Total_Purchase = Gender_groups["Price"].sum()
Gender_Total_Purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [16]:
Gender_Normalized_total = Gender_Total_Purchase / Gender_Purchase_count
Gender_Normalized_total

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

In [17]:
Gender_analysis = pd.DataFrame({"Purchase Count": Gender_Purchase_count,
                                "Average Purchase Price": Gender_Average_Price,
                                "Total Purchase Value": Gender_Total_Purchase,
                                "Normalized Totals": Gender_Normalized_total},
                                 index = ["Female", "Male", "Other / Non-Disclosed"])

Gender_analysis["Average Purchase Price"] = Gender_analysis["Average Purchase Price"].map("${:,.2f}".format)
Gender_analysis["Total Purchase Value"] = Gender_analysis["Total Purchase Value"].map("${:,.2f}".format)
Gender_analysis["Normalized Totals"] = Gender_analysis["Normalized Totals"].map("${:,.2f}".format)
Gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [18]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Segment"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
purchase_data.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Segment
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [19]:
Age_groups = purchase_data.groupby(['Age Segment'])
Age_Total_count = Age_groups["Age Segment"].count()
Age_Total_count.head()

Age Segment
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
Name: Age Segment, dtype: int64

In [20]:
Age_Percentage_of_Players = (Age_Total_count / Total_of_players)*100
Age_Percentage_of_Players.head()

Age Segment
<10       3.993056
10-14     4.861111
15-19    23.611111
20-24    63.368056
25-29    17.534722
Name: Age Segment, dtype: float64

In [21]:
Age_summary = pd.DataFrame({"Percentage of Players": Age_Percentage_of_Players,
                            "Total Count": Age_Total_count},
                             index = ["<10", "10-14", "15-19", "20-24", "25-29", 
                                      "30-34", "35-39", "40+"])

Age_summary["Percentage of Players"] = Age_summary["Percentage of Players"].map("{:.2f}".format)
Age_summary

      Percentage of Players  Total Count
<10                    3.99           23
10-14                  4.86           28
15-19                 23.61          136
20-24                 63.37          365
25-29                 17.53          101
30-34                 12.67           73
35-39                  7.12           41
40+                    2.26           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
Age_groups = purchase_data.groupby(['Age Segment'])
Age_Purchase_count = Age_groups["Age Segment"].count()
Age_Purchase_count.head()

Age Segment
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
Name: Age Segment, dtype: int64

In [23]:
Age_groups = purchase_data.groupby(['Age Segment'])
Age_Average_Price = Age_groups["Price"].mean()
Age_Average_Price.head()

Age Segment
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
Name: Price, dtype: float64

In [24]:
Age_groups = purchase_data.groupby(['Age Segment'])
Age_Total_Purchase = Age_groups["Price"].sum()
Age_Total_Purchase.head()

Age Segment
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
Name: Price, dtype: float64

In [25]:
Age_Normalized_total = Age_Total_Purchase / Age_Purchase_count
Age_Normalized_total

Age Segment
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
dtype: float64

In [26]:
Age_analysis = pd.DataFrame({"Purchase Count": Age_Purchase_count,
                                "Average Purchase Price": Age_Average_Price,
                                "Total Purchase Value": Age_Total_Purchase,
                                "Normalized Totals": Age_Normalized_total},
                                 index = ["<10", "10-14", "15-19", "20-24", "25-29", 
                                          "30-34", "35-39", "40+"])

Age_analysis["Average Purchase Price"] = Age_analysis["Average Purchase Price"].map("${:,.2f}".format)
Age_analysis["Total Purchase Value"] = Age_analysis["Total Purchase Value"].map("${:,.2f}".format)
Age_analysis["Normalized Totals"] = Age_analysis["Normalized Totals"].map("${:,.2f}".format)
Age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [27]:
SN_groups = purchase_data.groupby(['SN'])
SN_Purchase_count = SN_groups["Purchase ID"].count()
SN_Purchase_count.head()

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: Purchase ID, dtype: int64

In [28]:
SN_Average_Price = SN_groups["Price"].mean()
SN_Average_Price.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [29]:
SN_Purchase_Value = SN_groups["Price"].sum().sort_values(ascending=False)
SN_Purchase_Value.head()

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64

In [30]:
SN_summary = pd.DataFrame({"Purchase Count": SN_Purchase_count,
                           "Average Purchase Price": SN_Average_Price,
                           "Total Purchase Value": SN_Purchase_Value})

Top_spenders = SN_summary.sort_values("Total Purchase Value", ascending=False)
Top_spenders["Average Purchase Price"] = Top_spenders["Average Purchase Price"].map("${:,.2f}".format)
Top_spenders["Total Purchase Value"] = Top_spenders["Total Purchase Value"].map("${:,.2f}".format)
Top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
products = purchase_data[["Item ID", "Item Name", "Price"]]
products_df = products.rename(columns={"Price":"Item Price"})

In [32]:
grouped_products = products_df.groupby(["Item ID", "Item Name"])
products_price = grouped_products["Item Price"].unique()
products_price_df = pd.DataFrame(products_price)
products_price_df["Item Price"] = products_price_df["Item Price"].str.get(0)

In [33]:
products_purchase_count = grouped_products["Item Name"].count()
products_purchase_count.head()

Item ID  Item Name
0        Splinter              4
1        Crucifer              3
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Item Name, dtype: int64

In [34]:
products_purchase_value = grouped_products["Item Price"].sum()
products_purchase_value.head(3)

Item ID  Item Name
0        Splinter      5.12
1        Crucifer      9.78
2        Verdict      14.88
Name: Item Price, dtype: float64

In [35]:
Product_table = pd.DataFrame({"Purchase Count": products_purchase_count,
                              "Total Purchase Value": products_purchase_value})

In [36]:
Product_merge = pd.concat([Product_table, products_price_df],axis=1)
Product_summary = Product_merge[["Purchase Count", "Item Price","Total Purchase Value"]]
Product_summary["Item Price"] = Product_summary["Item Price"].map("${:,.2f}".format)
Product_sorted_by_PurchaseCount = Product_summary.sort_values("Purchase Count", ascending=False)

In [37]:
Top_Product_by_Purchase_Count = pd.DataFrame(Product_sorted_by_PurchaseCount)
Top_Product_by_Purchase_Count.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
145,Fiery Glass Crusader,9,$4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,31.77
82,Nirvana,9,$4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [38]:
Top_Product_by_Purchase_Value = Top_Product_by_Purchase_Count.sort_values(["Total Purchase Value"], ascending=False)
Top_Product_by_Purchase_Value["Total Purchase Value"] = Top_Product_by_Purchase_Value["Total Purchase Value"].map("${:,.2f}".format)
Top_Product_by_Purchase_Value.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80